@font-face {
        font-family: 'limelight';
        src: url(../limelight/limelight-regular.ttf);

}
body{
    min-height: 700px;
}

header{
    width: 85vw;
    height: 10vw;
    background-color: rgb(11, 56, 2);
    padding: 7vw;
    margin-top: 2vw;
}

h1{ 
    font-family: 'limelight',serif;
    color:white;
    font-size: 7vw; /*rem??*/
    margin-bottom: 1%;
    margin-top: 0%;
    text-align: center;
}
h2{
    font-size: 2rem;
    color:rgb(11, 56, 2);
    text-align: center;
    padding: auto;
}

/*paragraf text*/
.intro{   
    font-size: 1vw;
    text-align: justify; 
    margin-left: 5%;
    margin-right: 50%;
    margin-top: 2vw;
}

/*side by side placement https://codedamn.com/news/frontend/how-to-put-image-and-text-side-by-side-in-html*/
.container{
    display: grid;
    align-items:center;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    column-gap: 5px;
}

nav{
    margin-left: 3vw;
}
.pic{
    margin-top: 7vw;
}



footer{
    width: 99vw;
    height: 100px;
    padding-top: 10px;
    margin-top: 30px;
    background-color: rgb(11, 56, 2);
}

form{
    text-align: center; 
}

/*smal but anojing problem, https://chatgpt.com/share/678bb815-4b10-8002-b4ad-20611ed87023*/
#message{
    width: 25vw;
    height: 15vw;
    padding: 10px;
    box-sizing: border-box;
    /*
    vertical-align: top;
    did not work for now :((
    */
}
#submit {
    margin-bottom: 0px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin-left: 5vw;
    margin-top: 1vw;
    margin-top: 3vw;
}

/*smal help from chatgpt, to make the links not be blue and so on = https://chatgpt.com/share/6790a395-5998-8002-89e2-93e1a54c81dc*/
a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    
}
/*work page layout*/
main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    grid-template-areas: 
    ". w1 w2 w3 ."
    ;
}

section{
    width: 100px;
    height: 100px;
    color: blueviolet;
}
#w1{
    grid-area: w1;
   
    color: blueviolet;
}
#w2{
    grid-area: w2;
    
    color: rgb(43, 134, 226);
}
#w3{
    grid-area: w3;
    color: rgb(137, 226, 43);
}