@font-face {
    font-family: 'limelight';
    src: url(../limelight/limelight-regular.ttf);

}
body{
min-height: 100vh;
margin: 0%;
background-color: rgb(233, 233, 233);;

}
header{
    width: 100%;
    height: 10vw;
    background-color: rgb(11, 56, 2);
    padding: 4vw;
    padding-right: 0%;
    
}
nav{
    font-size: 1rem;  
    background-color: rgb(11, 56, 2);

}
ul{
    list-style: none;
    display: flex;
}
li{
    margin-left: 50px;
    margin-top: 30px;
}
/*smal help from chatgpt, to make the links not be blue and so on = https://chatgpt.com/share/6790a395-5998-8002-89e2-93e1a54c81dc*/
a{
text-decoration: none;
color: white;
font-size: 1.3rem;
}
footer{
width: 100%;
height: 150px;
padding-top: 4vw;
padding-right: 3%;
margin-top: 30px;
background-color: rgb(11, 56, 2);
}
h1{ 
font-family: 'limelight',serif;
color:white;
margin: 0%;
text-align: center;
font-size: 7vw; /*rem??*/
}

/*Images*/
img{
    background-color: white;
    max-width: 520px;
    max-height: 400px;
    padding: 10px;
    margin: 15px;
}
#cat{
    height: 410px;
}
#flyer{
    
    height: 400px;
}


/*grid things*/
main{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    grid-template-areas: 
    ". s1 s2 s3 ."
    ". s4 s5 s6 . ";    
}
.work{
    width: 100%;
    height: auto;
}

#w1{
    grid-area: s1;
    background-color: white;
    margin-top: 15px;
}
#w2{
    grid-area: s2;
    background-color: white;
    margin-top: 15px;
}
#w3{
    grid-area: s3;
    background-color: white;
    margin-top: 15px;
}
#w4{
    grid-area: s4;
    background-color: white;
}#w5{
    grid-area: s5;
    background-color: white;
}#w6{
    grid-area: s6;
    background-color: white;
}